a{
	color: grey;
	text-decoration: none;
}

a:hover{
	color: green;
	text-decoration: none;
}

.section{
	width: 100%;
	margin: auto;
}

.header{
	width: 31%;
	float: left;
	height: 100px;
	
}

#menu1{
	
	color: #808080;
	font-size: 14px;
	padding-left: 104px;
}
ul#menu1 li{
	margin-right: 20px;
}


.header2{
	width:69%;
	float: left;
}
.contact{
	float: left;
	padding-left: 200px;
}
.srch_logo{
	float: left;
	margin-top: 15px;
	margin-left: 5px;
}
.search{
position: absolute;
	left: 885px;
	width: 160px;
	height: 8px;
	border-radius: 5px;

	padding: 10px 15px 10px 10px;
	background-position: 185px 7px;
	background-repeat: no-repeat;
	border: 2px solid #ccc;
}

#top_search{
	position: absolute;
	left: 20px;
}

ul#menu1 li{
	display: inline;

}

.row{
	width: 72%;
	margin: auto;
}
.row2{
	position: relative;
	padding-left: 65px;
    padding-top: 6px;
    padding-bottom: 5px;
}

h2#long{
color: grey;
}
.row3{
	width: 60%;
	padding-left: 25%;
	padding-right: 25%;
}

.CIR{
		position: relative;
		margin-left: 65px;
		
}

.bottoms{
	margin-right: 40px;
}


.mid_img5{
	position: relative;
}
#blog_img5{
	position: absolute;
	top: 24px;
    left: 325px;
    opacity: 0.8;
    border-radius: 100px;
}
span#line1{
	color: white;
	font-size: 24px;
	margin: auto;
	position: absolute;
	top: 30%;
}

span#line2{
	
	background-color: #696969;
	width:130px;
	border: 2px solid white;
	padding: 5px 11px 12px 11px;
	border-radius: 6px;
}

span#line2:hover{
	
	background-color: white;
	width:130px;
	border: 2px solid white;
	padding: 5px 11px 12px 11px;
	border-radius: 6px;
}



img#btn{
	padding: 15px 0px 0px 30px;
}
p{
	color: grey;
}

h4{
	color: white;
}
h4.step{
	margin-left: 13px;
}
.grey_bg1{
	background-color: #A9A9A9;
	margin-top: 40px;
	height: 105px;

}

.grey_bg{
	background-color: #A9A9A9;
	margin-top: 0px;

}



.img1_section{
	height: 448px;
	background: url('../images/vdo_img1.png') no-repeat center center fixed;
	
}

.play_btn1{
	width: 50%;
	float: left;
}


.play_btn2{
	width: 50%;
	float: left;
}


span#play_btn{
	position: absolute;
	background-color: #93CC3C;
	width:100px;
	height:60px;
	border: 0px solid white;
	padding: 13px 0px 13px 30px;
	border-radius: 0px;
	left: 310px;
	top: 370px;
	opacity: 0.7;
}





span#play_btn2{
	position: absolute;
	background-color: #93CC3C;
	width:210px;
	height:30px;
	border: 0px solid white;
	padding: 13px 0px 13px 30px;
	border-radius: 10px;
	right: 305px;
	top: 470px;
	color: white;
	font-size: 20px;
	}

	span#play_btn3{
	position: absolute;
	background-color: #ADFF2F;
	width:180px;
	height:25px;
	border: 0px solid white;
	padding: 11px 0px 10px 23px;
	border-radius: 10px;
	
	color: white;
	font-size: 20px;
	}

.call_icon{
	margin: 0px 0px -4px 8px ;
}

.detail{
		position: absolute;
		left: 640px;
		top: 300px;
		font-size: 35px;
		opacity: 0.8;
	}


.btn{
width: 200px;
height: 60px;
background-color: #9ACD32;
opacity: 0.7;
}


.about{
	margin-left: 40px;
	margin-top: 80px;
	width: 50%;
	word-wrap: break-word;
	float: left;
	margin-bottom: 80px;
}

.about_img{
	float: left;
	
	width: auto;
}

img#about_img{
	width: 350px;
	height: 300px;
	margin-left: 40px;
	margin-top: 200px;
	margin-bottom: 80px;
	border: 8px solid lightgrey;
}

ul#list1{
    list-style-image: url('../images/arrow1.png');
    color: grey;
}
ul#post{
    list-style-image: url('../images/icon8.png');
    color: grey;
}

ul#tweet{
    list-style-image: url('../images/icon9.png');
    color: grey;
}

h1{
	font-family: serif;
}

div.mid1{
	color: WHITE;
	height: 510px;
	background-image: url('../images/mid_img1.png');
	border: 1px solid yellow;
	background-repeat: no-repeat;
}

div.mid2{
	background-image: url("../images/content1.png");
	height: 580px;
	background-size: cover;
	border: 0px solid #F7EAEA;
	background-repeat: no-repeat;
	margin: 40px 0 0 0 ;
}
div.mid3{
	height: 520px;
	background-image: url('../images/mid_img3.jpg');
	border: 0px solid yellow;
	background-repeat: no-repeat;
	
}

.clear{
	clear: both;
}

#para1{
	font-size: 23px;
	text-align: center;
	margin: 0px 0 0 45px;
	color: grey;
}

.box{
	width: 90%;
	margin: auto;
}
.box1{
	float: left;
	background-color: white;
	width: 300px;
	min-height: 330px;
	height: auto;
	border-radius: 2px;
	padding: 35px;
	margin: 0 10px 0px 50px;
	color: grey;
	text-align: center;
}
.box2{
	float: left;
	background-color: white;
	width: 300px;
	min-height: 330px;
	height: auto;
	border-radius: 2px;
	padding: 35px;
	color: grey;
	text-align: center;
}

.circle{
	margin: auto;
	float: left;
}
.left_arrow{
	float: left;
	width: 20%;

}
.number{
position: absolute;
color: #93CC3C;
top: 10px;
left: 25px;
font-size: 40px;
}

.small_circle{
	margin-right: 67px;
	width: 70px;
	height: 80px;

}

.img_circle{
	position: relative;
}

.dotted_line{
	position: absolute;
	top: 35px;
	width: 70px;
	left: -68px;
	
}


img#prev_btn{
	padding-top: 100%;
	padding-left: 95%;
}
.get_started{
	background-color: #93CC3C;
	width:100px;
	height:60px;
	border: 0px solid white;
	padding: 12px 70px 14px 56px;
	border-radius: 2px;
	left: 310px;
	top: 370px;
	opacity: 0.7;
	font-size: 15px;
	color: white;
}

.read{
	background-color: white;
	width:100px;
	height:60px;
	border: 1px solid #93CC3C;
	padding: 8px 25px 8px 25px;
	border-radius: 2px;
	opacity: 0.7;
	font-size: 15px;
	color: #93CC3C;
}

.read:hover{
	background-color: #93CC3C;
	color: white;
}

#duis{
	color: grey;
}
#client1{
	color: white;
}

.call_btn1{
background-color: #93CC3C;
	width:100px;
	height:60px;
	border: 0px solid white;
	padding: 15px 35px 20px 42px;
	border-radius: 2px;
	left: 310px;
	top: 370px;
	opacity: 0.7;
	font-size: 15px;
	color: white;
	margin-left: 110px;
}
.call_btn2{
background-color: #93CC3C;
	width:100px;
	height:60px;
	border: 0px solid white;
	padding: 15px 35px 20px 42px;
	border-radius: 2px;
	left: 310px;
	top: 370px;
	opacity: 0.7;
	font-size: 15px;
	color: white;
	margin-left: 16px;
}

.middle_content{
	float: left;
	width: 60%;
	color: white;
}
.icon7{
padding-left: 3px;
padding-top: 2px;
}
img#mid_img{
	width: 165px;
	height: 175px;
}
img#next_btn{
	padding-top: 100%;
}
h1#client{
	margin-top: 70px;
}


.right_arrow{
	float: left;
	width: 20%;
}



.profile1{
	float: left;
	width: 32%;
	padding-right: 2%;
}
.profile2{
	float: left;
	width: 32%;
	padding-right: 2%;
}
.profile3{
	float: left;
	width: 32%;
}

.pre_bottom1{
margin-top: -19px;
padding-top: 30px;	
	
}
.pre_bottom2{
	
	
}
.call{
	float: left;
}

#bottom_vital{
	float: left;
}

.sec2{
	background-color: #323232;
}

h3#short{
padding-top: 50px;
color: white;
text-align: right;
margin-right: 75px;
}

div.bottom_col1{
	width: 32%;
	float: left;
}
.bottom_col2{
	width: 32%;
	float: left;
}
.bottom_col3{
	width: 32%;
	float: left;
}

.sec3{
	background-color: black;
	padding: 20px;
	color: white;
}
